.wrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  padding: 6px var(--mantine-spacing-md);
  background-color: var(--mantine-color-gray-1);
  border-radius: var(--mantine-radius-lg);
  border: 1px solid var(--mantine-color-gray-2);
  cursor: pointer;
  transition: background-color 150ms ease;
}

.wrapper:hover {
  background-color: var(--mantine-color-gray-2);
}

.fileName {
  font-size: 10px;
  color: var(--mantine-color-gray-7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}
